{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{ setting.title }} {% endblock %}
{% block description %} {{ urun.description }} {% endblock %}
{% block keywords %} {{ urun.keywords }} {% endblock %}
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}">
{% endblock %}

{% block body %}

    <div class="page-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Login</h3>
                    <span class="breadcrumb"><a href="/">Home</a>   >  Login</span>
                </div>
            </div>
        </div>
    </div>




<div class="container-fluid pt-5">
        <div class="row px-xl-5">


            <h3 class="title">Order Complated</h3>

            <hr>
            <h2>Dear {{ user.first_name }} {{ user.last_name }}</h2>
            <hr>
            <h3>Your order is completed</h3>
            <hr>
            <h3>Order Code : {{ ordercode }}</h3>
            <hr>
            <h3>Thank You</h3>
            <hr>

        </div>

    </div>



{% endblock %}